section.experience-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}
section.experience-section .experience-section-content {
  width: 100%;
}

@media (min-width: 768px) {
  section.experience-section {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  section.experience-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}