<div>
    <section class="experience-section" id="about">
        <div class="experience-section-content">
            <h1 class="mb-0">
                <span class="text-primary">G</span>areth
                    <span class="text-primary">M</span>offitt
            </h1>
            <div class="subheading mb-5">
                <a href="mailto:name@email.com">g.moffitt27@gmail.com</a>
                · (44) 07762452180 ·
            </div>
            <p class="lead mb-5">I am a recent software graduate looking for a graduate role in IT</p>
            <p><a class="social-icon" href="https://soundo.vercel.app" target="_blank">Soundo App - work in progress</a></p>
            <p><a class="social-icon" href="https://politeyounggentlemen.vercel.app" target="_blank">Polite Young Gentlemen band website - work in progress</a></p>
            <br>
            <div class="social-icons">
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/gareth-mcaulay-moffitt-878432278/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/garethmcm" target="_blank"><i class="fab fa-github"></i></a>
{#                    <a class="social-icon" href="https://soundotwo.vercel.app" target="_blank"><img src="/static/images/Soundotransback.svg" class="soundo-icon" alt="Soundo"></a>#}
                </div>
            </div>
        </div>
    </section>
</div>
<hr class="m-0" />