<section class="experience-section" id="education">
    <div class="experience-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Glasgow</h3>
                <div class="subheading mb-3">Software Development MSc</div>
                <div>Merit <br> <br> Modules: <br> <br> - Advanced programming <br> - Software engineering practices <br> - Algorithms and data structures <br> - Database theory and applications <br> - Enterprise cyber security <br> - Systems and networks <br> - Human computer interaction <br> - Information visualisation <br><br> I also started the web app <a href="https://soundotwo.vercel.app" target="_blank">Soundo</a> which allows users to experiment with working audio effects components on audio samples, all hosted within a web browser in real time. This was done using the React framework in Typescript, making use of the Tone.js library. <br> <br> All of the programming related modules on the course were conducted using Java.
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August '22 to December '23</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of the Highlands and Islands</h3>
                <div class="subheading mb-3">Audio Engineering BSc</div>
                <div>2:1 <br><br> This undergraduate programme included modules in the following areas of study: <br> <br> - Advanced systems theory <br> - Advanced audio applications <br> - Create media applications</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September '14 - May '15, September '16 - May '17</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Stow College</h3>
                <div class="subheading mb-3">Sound Production HND</div>
                <div>Grade 'A'</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August '12 - June '14</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />