<section class="experience-section" id="experience">
    <div class="experience-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Producer</h3>
                <div class="subheading mb-3">Freelance</div>
                <p>I have also worked as an independent producer previous to and alongside my work in Carlton studios and since leaving the studio when moving to the north east of Scotland last year, working on various releases, including album and EP projects with different artists over the years.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March '12 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Studio engineer</h3>
                <div class="subheading mb-3">Carlton studios</div>
                <p>BChief engineer in long established recording studio, responsible for running all aspects of recording sessions including: <br> - microphone selection/placement & recording <br> - editing, mixing and mastering using appropriate application of effects plugins operation of digital audio workstation <br> - delivery of final product to client specification in requested format <br> I also assisted in running a crowdfunder campaign for the studio during the COVID-19 pandemic, during which I organized and ran live stream performances by bands from the studio. This helped to raise over £20,000 for the studio and ensured its doors could remain open.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Bar supervisor</h3>
                <div class="subheading mb-3">The Snaffle Bit</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">February - December '22</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Bar staff</h3>
                <div class="subheading mb-3">The Old Smiddy</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September '21 - February '22</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Call handler</h3>
                <div class="subheading mb-3">NHS 24</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September '14 - August '15 and September ’17 to August ‘21</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />