<section class="experience-section" id="interests">
    <div class="experience-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>I am an accomplished musician, principally a guitarist but can also sing, play drums and bass. I have recorded and performed live professionally myself and with a number of bands in Glasgow, Edinburgh, Perth and Aberdeenshire, as well as further afield in New York, Canada and South America while travelling.</p>

        <p>I currently play guitar with the Silver City Soul Revue which is based in Aberdeen and I continue to play with the Carlton Jug Band from Glasgow when I can too; the clip below features a snippet of the Jug Band performing with Mince, the drummer from the Fratellis and features myself on lead guitar.</p>

        <p>I am also an accomplished Spanish speaker with an interest in the food and culture of Spain and Latin America. I previously took out some time between 3rd and 4th year at university to travel across South America and Cuba.</p>

        <p>I am a keen runner, having recently completed the Edinburgh marathon, with various other runs planned for the future, hopefully including the marathon in New York. </p>

        <br>
        <div class="subheading mb-3">The Carlton Jug Band featuring Mince Fratelli</div>
        <iframe width="510" height="315" src="https://www.youtube.com/embed/pCA8ikVa-Q4" allowfullscreen></iframe>
    </div>
</section>
<hr class="m-0" />