<section class="experience-section" id="interests">
    <div class="experience-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>I am an accomplished musician, principally a guitarist but also vocalist, bassist and drummer. I have recorded and performed live professionally both solo and with a number of bands in Glasgow, Edinburgh, Perth and Aberdeenshire, as well as further afield in New York, Canada and South America whilst travelling.</p>
        <p class="mb-0">I am also an accomplished Spanish speaker with an interest in the food and culture of Spain and the Spanish diaspora. I previously took out some time between 3rd and 4th year at university to travel across Latin America.</p>
        <div class="subheading mb-3">The Carlton Jug Band featuring Mince Fratelli</div>
        <iframe width="510" height="315" src="https://www.youtube.com/embed/pCA8ikVa-Q4" allowfullscreen></iframe>
    </div>
</section>
<hr class="m-0" />