<section class="experience-section" id="interests">
    <div class="experience-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>I am an accomplished musician, principally a guitarist but can also sing, play drums and bass. I have recorded and performed live professionally myself and with a number of bands in Glasgow, Edinburgh, Perth and Aberdeenshire, as well as further afield in New York, Canada and South America while travelling.</p>

        <p>I am currently involved with a few projects including the Tuesday Night Special, Polite Young Gentlemen, the Silver City Soul Revue based in Aberdeen which I recently joined on guitar and the Carlton Jug Band based in Glasgow which I played with regularly in Glasgow and still perform with from time to time; the clip below features a snippet of the Jug Band performing with Mince, the drummer from the Fratellis and features myself on lead guitar.</p>

        <p class="mb-0">I am also an accomplished Spanish speaker with an interest in the food and culture of Spain and Latin America. I previously took out some time between 3rd and 4th year at university to travel across South America and Cuba.</p>
        <br>
        <div class="subheading mb-3">The Carlton Jug Band featuring Mince Fratelli</div>
        <iframe width="510" height="315" src="https://www.youtube.com/embed/pCA8ikVa-Q4" allowfullscreen></iframe>
    </div>
</section>
<hr class="m-0" />