<section class="experience-section" id="skills">
        <div class="experience-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <div>Experience with various coding languages including: <br> - C++ <br> - Python <br> - TypeScript / JavaScript  <br> - C# <br> - Java <br> <br> We were principally taught in Java at university covering advanced techniques such as concurrency and more complex data structures. Since leaving university I have learned C++, Python and C# from scratch. <br> <br> Experience with various frameworks including: <br> - JUCE <br> - Bela <br> - React <br> - Django <br> <br> Experience with various IDEs including: <br> - CLion <br> - IntelliJ <br> - PyCharm <br> - Visual Studio Code <br> - Rust <br> - SQL<br> - Sigma16 (an imitation of assembly level code) <br> - Swing <br> - Xcode <br> - Eclipse <br> - PostgreSQL </div>
{#                    <ul class="list-inline dev-icons">#}
{#                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-angular"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-react"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-sass"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-less"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>#}
{#                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>#}
{#                    </ul>#}
{#                    <div class="subheading mb-3">Workflow</div>#}
{#                    <ul class="fa-ul mb-0">#}
{#                        <li>#}
{#                            <span class="fa-li"><i class="fas fa-check"></i></span>#}
{#                            Mobile-First, Responsive Design#}
{#                        </li>#}
{#                        <li>#}
{#                            <span class="fa-li"><i class="fas fa-check"></i></span>#}
{#                            Cross Browser Testing & Debugging#}
{#                        </li>#}
{#                        <li>#}
{#                            <span class="fa-li"><i class="fas fa-check"></i></span>#}
{#                            Cross Functional Teams#}
{#                        </li>#}
{#                        <li>#}
{#                            <span class="fa-li"><i class="fas fa-check"></i></span>#}
{#                            Agile Development & Scrum#}
{#                        </li>#}
{#                    </ul>#}
        </div>
    </section>
<hr class="m-0" />